body{
    padding: 0;
    margin: 0;
}


header{
    
    background-color:#E6E9ED;
    width: 100%;
    // #victory{
    //     border-bottom: 1px solid black;
    // }

    nav>div>ul>li{
       margin: 0 50px;
       color: black;
        
        
        
        
        

    }
}