.section4{
    



    .bg-img{
        background-image: url(../../../public/img/book-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 600px;
       
        
        
        

             #card-reserv{
               width: 370px;
               height: 290px;
                

             }

            
    }



       .div-rouge{
           width: 100%;
           height: 200px;
           background-color: #f3826f;
           padding: 3%;
           color: white;
                   input{
                       margin-top: 2%;
                       height: 50px;
                       width: 15%;
                       color:#f3826f ;
                   }
           

       }


      

      
      }
       




.section4{
    .bg-img{
        width: 100%;
        .div-boite{
            .test{
                .card-reserv{
                    .card-body{
                        .div-button{
                            input{
                                height: 50px;
                                background-color: #f3826f;
                                
                                
                                
                                
                            }
                          }
                        .div-form{
                            .form1{
                                width: 120% ;
                                input{
                                width: 50%;
                                
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



.section4{
    .bg-img{
        .div-boite{
            .div-test{
                .card-reserv{
                    .card-body{
                        .div-button{
                            input{
                                background-color:#f3826f ;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}