.section2{
    color: white;
    #div-rouge{
        #num{
            font-size: 135%;
        }
        input{
            color: #f3826f;
            height: 40px;
            width: 40%;
        }
        height:300px;
        width: 40%;
        background-color: #d84f4f;

        #numero{
            background-color:#f3826f;
            height: 90px;
            width: 80%;
            padding: 10px;
        }
        

    }
}