.section6{
    background-color: #E6E9ED;
    .div2{
        .card4{
            .row4{
                .col8{
                    .card-body{
                       margin-left: 30% ;
                    }
                }
            }
        }
        .card3{
            .row3{
                .col6{
                    .card-body{
                        margin-left: 30%;
                    }
                }
            }
        }
    }
    .div1{
        .card2{
            .row2{
                .col4{
                    .card-body{
                        margin-left: 30%;
                    }
                }
            }
        }
        .card1{
            .row1{
                .col2{
                    .card-body{
                        margin-left:30%;
                       
                    }
                }
            }
        }
    }

}